#eleve{
    display:none;
}

#club{
    display:none;
}

.type{
    font-weight: normal;
}

.error{
    color:red;
    font-weight: normal;
}

#conditions_reservation{
    color:white;
    text-decoration: underline;
}
